<div class="article-entity">
  <div class="article-author">
    <div class="avatar">
      <%= image_tag 'https://ruby-china-files.b0.upaiyun.com/user/big_avatar/17042.jpg' %>
    </div>
    <div class="author-info">
      <div class="name">风之暗殇</div>
      <div class="publish-time">2月23日 19:04</div>
    </div>
  </div>
  <div class="article-content">
    贾青以短发造型席卷荧幕，清新阳光范十足。此次携新剧《爱人的谎言》亮相，她特意以此造型诠释女主角励志不朽的一生。期待短发青登场，美美哒！
  </div>
  <div class="article-handle">

  </div>
</div>
<style type="text/css">
  .article-entity{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
  }
  .article-entity .article-author{
    margin-bottom: 6px;
  }
  .article-entity .article-author .avatar, .author-info{
    display: inline-block;
    vertical-align: top;
  }
  .article-entity .article-author .avatar{
    margin-right: 6px;
  }
  .article-entity .article-author .avatar img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .article-entity .article-author .author-info .name, .publish-time{
    height: 25px;
    line-height: 25px;
  }
</style>
